body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.label {
  display: flex;
  flex-direction: column;
}

label {
  width: 183px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
}

.input {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  height: 30px;
  margin: 2px;
  max-width: 500px;
  padding: 1px 2px;
}

.form {
  /* display: flex;
  flex-direction: column; */
  padding: 20px 30px;
}

.place-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.place-card-location {
  position: absolute;
  bottom: 8px;
  padding: 5px 10px;
  left: 16px;
  font-size: 14px;
  color: #fff;
  background-color: #ccc;
  border-radius: 20px;
}

.place-card-types-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}


.page-name {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.place-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.see-more {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
  color: #0479fb;
}
.place-card:focus {
  background-color: green;
}

.place-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 50px;
  overflow: hidden;
  width: 300px;
}


.place-card-image {
  width: 100%;
}

.place-card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 20px;
}

.place-card-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
}

.place-card-types {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.place-card-about {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.place-card-rating {
  width: 20%;
  align-self: flex-start;
  display: flex;
}