.swiper {
  /* padding: 32px; */
  /* border: 5px solid green; */
  /* max-width: none; */
  /* width: 900px; */
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.slide p {
  color: white;
}